.inputContent {
    width: 68vw;
    font-size: 0.9rem;
    color: #efefef;
    background-color: #112733;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
}

.inputContent::placeholder {
    opacity: 0.75;
}

@media screen and (min-width: 768px) {
    .inputContent {
        width: 48vw;
    }
}

@media screen and (min-width: 1024px) {
    .inputContent {
        width: 38vw;
    }    
}