.inputContent {
    width: 50vw;
    font-size: 0.9rem;
    color: #efefef;
    background-color: #112733;
    padding: 0.5rem;
    border: none;
    outline: none;
    resize: none;
}

.inputContent::placeholder {
    opacity: 0.75;
}