.buttonContent {
    background-color: #112733;
    color: #efefef;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0.25rem;
    cursor: pointer;
}